
.wrap-load-button {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 50px;
  @include breakpoint("small-tablet-portrait"){
    margin-top: 45px;
    margin-bottom: 20px;
  }
}
/*
.wrap__load-button {
  //text-decoration: none;
  //text-align: center;
  vertical-align: middle;
  padding-right: 35px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 31px;
  border: solid 1px #000000;
  !*margin-right: auto;
  margin-left: auto;
  clear: both;*!
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  color: #000000;
}*/

.button {
  padding: 18px 37px;
  border: 1px solid #626262;
  border-radius: 0;
  background-color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-decoration: none;
  color: #626262;
}
