.main-post {

  margin-top: 83px;
  margin-bottom: -5px;

  .post__title {
    margin-top: 22px;
    margin-bottom: 33px;
    letter-spacing: 1.2px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 900px;
    text-overflow: ellipsis;
  }

  .post__main-content{
    margin-top: 33px;
    letter-spacing: 0.7px;
    line-height: 1.75;
  }

  .post__main-link-top {
    display: block;
    margin-top: 30px;
    margin-bottom: 22px;
    letter-spacing: -1.2px;
  }

  .post__main-link-bottom {
    display: block;
    margin-top: 42px;
    letter-spacing: -1.2px;
  }

}